/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Seção de contato no topo */
.contato {
    background-color: #006400; /* Verde escuro */
    color: white;
    padding: 10px 0;
    text-align: center;
}

.telefone {
    font-size: 18px;
    font-weight: bold;
}

/* Cabeçalho */
header {
    background-color: #3a6a47; /* Verde médio */
    color: white;
    padding: 20px 0;
}

header .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
header .logo a {
    font-size: 32px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header .logo .lupa {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* Menu Desktop */
header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #25d366;
}

/* Banner */
.banner {
    background-image: url('img/fundobanner5.png'); /* Fundo para a seção */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 60px 0;
}

.banner-text h1 {
    font-size: 50px;
    font-family: 'Helvetica Neue', sans-serif;
}

.banner-text p {
    font-size: 22px;
    margin-top: 10px;
}

/* Seção "Nossas Unidades" */
.unidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10%;
    background-color: #fff;
    color: #333;
}

/* Texto da seção "Unidades" */
.unidades-texto {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}

/* Título da seção */
.unidades-texto h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #006400;
}

/* Parágrafo */
.unidades-texto p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    text-align: justify;
}

/* Negrito apenas no "Achei Clínicas Tratamentos" */
.unidades-texto p strong {
    font-weight: bold;
}

/* Imagens das unidades */
.unidades-imagens, .unidades-imagens-extra {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.unidades-imagem-container {
    position: relative;
    width: calc(25% - 20px);
    height: 200px; /* Fixando a altura para que as imagens fiquem do mesmo tamanho */
    overflow: hidden;
    border-radius: 8px;
}

.unidades-imagem-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Hover nas imagens */
.unidades-imagem-container:hover img {
    transform: scale(1.1);
}

/* Localização da imagem */
.localizacao-imagem {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

/* Estilo do botão "Ver Mais" */
.botao-ver-mais-container {
    text-align: center;
    margin-top: 30px;
}

.btn-ver-mais, .btn-ver-menos {
    display: inline-block;
    background-color: #006400;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    width: auto;
    transition: background-color 0.3s ease;
    border: none;    
}

.btn-ver-mais:hover, .btn-ver-menos:hover {
    background-color: #25d366;
}

/* Esconder imagens extras inicialmente */
.escondido {
    display: none;
}

/* Estilo para o ícone de WhatsApp */
.whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Distância da parte inferior da tela */
    right: 20px;  /* Distância da parte direita da tela */
    z-index: 9999; /* Garantir que o ícone fique sobre outros elementos */
    display: inline-block;
    border-radius: 50%; /* Garante o formato circular */
    background-color: transparent; /* Remover qualquer fundo */
    padding: 5px; /* Ajuste no padding para reduzir o círculo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra do ícone */
}

.whatsapp-icon img {
    width: 40px; /* Diminuir o tamanho do ícone */
    height: 40px; /* Diminuir o tamanho do ícone */
    border-radius: 50%; /* Garantir que a imagem fique redonda */
    object-fit: cover; /* Assegura que a imagem se ajuste corretamente */
}

.whatsapp-icon:hover {
    background-color: #128c7e; /* Cor de fundo ao passar o mouse */
}



/* Media Queries para Mobile */
@media (max-width: 768px) {
    /* Seção "Unidades" - Alinhar o texto */
    .unidades-texto {
        text-align: justify;
        text-align-last: left; /* Ajusta a última linha da justificativa */
    }
    

    .unidades-texto h2 {
        font-size: 18px; /* Diminui o tamanho do título no mobile */
        margin-bottom: 10px; /* Menor espaçamento abaixo do título */
        text-align: left; /* Alinha o título à esquerda */
    }

    .unidades-texto p {
        font-size: 15px; /* Diminui o tamanho da fonte do parágrafo */
        line-height: 1.4; /* Ajusta o espaçamento entre linhas */
        color: #333;
        margin-top: 5px; /* Menor margem superior */
        margin-bottom: 15px; /* Menor margem inferior */
        text-align: justify; /* Deixa o texto alinhado à esquerda */
        word-spacing: 0.1px; /* Define um espaçamento uniforme entre as palavras */
        word-wrap: normal; /* Garante que o texto não quebre automaticamente */
        white-space: normal; /* Permite que o texto quebre naturalmente */
        overflow-wrap: normal; /* Mantém o texto na linha */
        word-break: normal; /* Não força quebra de palavra */
    }

    /* Imagens das unidades - Ajustar para o mobile */
    .unidades-imagens {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .unidades-imagem-container {
        width: 100%; /* As imagens ocupam toda a largura */
        height: auto; /* Ajusta a altura das imagens */
        margin-bottom: 15px; /* Espaço entre as imagens */
    }

    .unidades-imagem-container img {
        width: 100%; /* Imagens responsivas, ocupando 100% da largura */
        height: auto; /* Mantém a proporção da imagem */
    }

    /* Esconder o botão "Ver Mais" no mobile */
    .botao-ver-mais-container {
        display: block;
        text-align: center;
    }

    .btn-ver-mais, .btn-ver-menos {
        padding: 10px 15px; /* Ajusta o tamanho do botão */
        font-size: 14px; /* Tamanho de fonte reduzido */
    }
}

/* Rodapé */
footer {
    background-color: #3a6a47;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Media Queries para Mobile */
@media (max-width: 768px) {
    /* Rodapé */
    footer {
        font-size: 14px; /* Diminui o tamanho da fonte do rodapé */
        padding: 15px 0; /* Ajusta o padding para o rodapé no mobile */
    }
}

@media (max-width: 768px) {
    /* Ajusta o tamanho da fonte dos itens do menu */
    header nav ul li a {
      font-size: 12px; /* Tamanho ainda menor para os links no menu */
    }
  
    /* Ajusta o tamanho do logo "Achei Clínicas" */
    header .logo a {
      font-size: 20px; /* Tamanho ainda menor para o texto do logo */
    }
  
    /* Ajusta o tamanho da imagem da lupa */
    header .logo .lupa {
      width: 30px; /* Diminuir ainda mais o tamanho da imagem */
      height: 30px; /* Diminuir ainda mais o tamanho da imagem */
    }
   }
